<div class="animation">
<div class="container">
  <%= render 'shared/navbar' %>
  <div class="all_cards">
    <% @creations.each do |creation| %>
      <a href="<%= creation_path(creation) %>">
        <div class="card_container">
          <div class="card_inner">
            <div class="card_form">
              <%= image_tag creation.photos, class: "card-image", alt: "" %>
            </div>
            <div class="card_back">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <div class="card_elements">
                <h2><%= creation.nom %></h2>
                <i class="fa-solid fa-arrow-right" style="display: inline-block;"></i>
                <p style="display: inline-block; margin-left: 5px;"><%= creation.creation_type %></p>
                <br>
                <i class="fa-solid fa-arrow-right" style="display: inline-block;"></i>
                <p style="display: inline-block; margin-left: 5px;"><%= creation.logiciel %></p>
                <br>
                <i class="fa-solid fa-arrow-right" style="display: inline-block;"></i>
                <p style="display: inline-block; margin-left: 5px;"><%= creation.entreprise %></p>
                <br>
                <i class="fa-solid fa-arrow-right" style="display: inline-block;"></i>
                <p style="display: inline-block; margin-left: 5px;"><%= creation.date %></p>
              </div>
            </div>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>
</div>