<div class="container">
  <%= render 'shared/navbar' %>
  <div class="content_picture">
    <!-- Carousels -->
    <% if @format == 'paysage' %>
      <div class="container_carrousel2">
        <% (1..9).each do |i| %>
          <input type="radio" name="slider" id="item-<%= i %>" <%= i == 1 ? 'checked' : '' %>>
        <% end %>
        <div class="cards2">
          <% @creation.image_paths.split(',').each_with_index do |image, index| %>
            <label class="card2 clickable-image" for="item-<%= index + 1 %>" id="song-<%= index + 1 %>" data-index="<%= index %>" data-src="<%= asset_path(image.strip) %>">
              <%= image_tag image.strip, alt: "song" %>
              <!-- Ajouter l'icône de la loupe ici -->
                <span class="zoom-icon" data-index="<%= index %>">
 <i class="fa-solid fa-eye"></i><!-- Loupe avec un plus -->
</span>
            </label>
          <% end %>
        </div>
      </div>
    <% elsif @format == 'portrait' %>
      <div class="container_carrousel3">
        <% (1..4).each do |i| %>
          <input type="radio" name="slider" id="item-<%= i %>" <%= i == 1 ? 'checked' : '' %>>
        <% end %>
        <div class="cards3">
          <% @creation.image_paths.split(',').each_with_index do |image, index| %>
            <label class="card clickable-image" for="item-<%= index + 1 %>" id="song-<%= index + 1 %>" data-index="<%= index %>" data-src="<%= asset_path(image.strip) %>">
              <%= image_tag image.strip, alt: "song" %>
             <span class="zoom-icon" data-index="<%= index %>">
 <i class="fa-solid fa-eye"></i> <!-- Loupe avec un plus -->
</span>
            </label>
          <% end %>
        </div>
      </div>
    <% elsif @format == 'portrait_foto' %>
      <div class="container_carrousel4">
        <% (1..5).each do |i| %>
          <input type="radio" name="slider" id="item-<%= i %>" <%= i == 1 ? 'checked' : '' %>>
        <% end %>
        <div class="cards4">
          <% @creation.image_paths.split(',').each_with_index do |image, index| %>
            <label class="card4 clickable-image" for="item-<%= index + 1 %>" id="song-<%= index + 1 %>" data-index="<%= index %>" data-src="<%= asset_path(image.strip) %>">
              <%= image_tag image.strip, alt: "song" %>
               <span class="zoom-icon" data-index="<%= index %>">
  <i class="fa-solid fa-eye"></i> <!-- Loupe avec un plus -->
</span>
            </label>
          <% end %>
        </div>
      </div>
    <% elsif @format == 'web' %>
      <div class="container_carrousel">
        <% (1..4).each do |i| %>
          <input type="radio" name="slider" id="item-<%= i %>" <%= i == 1 ? 'checked' : '' %>>
        <% end %>
        <div class="cards">
          <% @creation.image_paths.split(',').each_with_index do |image, index| %>
            <label class="card3 clickable-image" for="item-<%= index + 1 %>" id="song-<%= index + 1 %>" data-index="<%= index %>" data-src="<%= asset_path(image.strip) %>">
              <%= image_tag image.strip, alt: "song" %>
            <span class="zoom-icon" data-index="<%= index %>">
  <i class="fa-solid fa-eye"></i> <!-- Loupe avec un plus -->
</span>
            </label>
          <% end %>
        </div>
      </div>
    <% elsif @format == 'paysage_crea' %>
      <div class="container_carrousel5">
        <% (1..14).each do |i| %>
          <input type="radio" name="slider" id="item-<%= i %>" <%= i == 1 ? 'checked' : '' %>>
        <% end %>
        <div class="cards5">
          <% @creation.image_paths.split(',').each_with_index do |image, index| %>
            <label class="card5 clickable-image" for="item-<%= index + 1 %>" id="song-<%= index + 1 %>" data-index="<%= index %>" data-src="<%= asset_path(image.strip) %>">
              <%= image_tag image.strip, alt: "song" %>
          <span class="zoom-icon" data-index="<%= index %>">
  <i class="fa-solid fa-eye"></i> <!-- Loupe avec un plus -->
</span>
            </label>
          <% end %>
        </div>
      </div>
    <% elsif @format == 'paysage4' %>
      <div class="container_carrousel6">
        <% (1..4).each do |i| %>
          <input type="radio" name="slider" id="item-<%= i %>" <%= i == 1 ? 'checked' : '' %>>
        <% end %>
        <div class="cards6">
          <% @creation.image_paths.split(',').each_with_index do |image, index| %>
            <label class="card6 clickable-image" for="item-<%= index + 1 %>" id="song-<%= index + 1 %>" data-index="<%= index %>" data-src="<%= asset_path(image.strip) %>">
              <%= image_tag image.strip, alt: "song" %>
               <span class="zoom-icon" data-index="<%= index %>">
  <i class="fa-solid fa-eye"></i> <!-- Loupe avec un plus -->
</span>
            </label>
          <% end %>
        </div>
      </div>
    <% elsif @format == 'portrait3' %>
      <div class="container_carrousel7">
        <% (1..3).each do |i| %>
          <input type="radio" name="slider" id="item-<%= i %>" <%= i == 1 ? 'checked' : '' %>>
        <% end %>
        <div class="cards7">
          <% @creation.image_paths.split(',').each_with_index do |image, index| %>
            <label class="card7 clickable-image" for="item-<%= index + 1 %>" id="song-<%= index + 1 %>" data-index="<%= index %>" data-src="<%= asset_path(image.strip) %>">
              <%= image_tag image.strip, alt: "song" %>
             <span class="zoom-icon" data-index="<%= index %>">
  <i class="fa-solid fa-eye"></i> <!-- Loupe avec un plus -->
</span>
            </label>
          <% end %>
        </div>
      </div>
    <% end %>

    <!-- Lightbox -->
    <% if @format == 'paysage' || @format == 'paysage4' || @format == 'paysage_crea' %>
    <div class="lightbox" id="lightbox">
      <div class="lightbox-content">
        <span class="close-lightbox">&times;</span> <!-- Close button -->
        <button class="prev-btn" aria-label="Previous image"><i class="fa-solid fa-caret-left"></i></button>
        <img id="lightbox-img" src="" alt="Enlarged image">
        <button class="next-btn" aria-label="Next image"><i class="fa-solid fa-caret-right"></i></button>
      </div>
    </div>
    <% elsif ['portrait', 'portrait_foto', 'web', 'portrait3'].include?(@format) %>
      <div class="lightbox" id="lightbox2">
        <div class="lightbox2-content">
          <span class="close-lightbox2">&times;</span> <!-- Bouton de fermeture -->
             <button class="prev-btn" aria-label="Previous image"><i class="fa-solid fa-caret-left"></i></button>
        <img id="lightbox2-img" src="" alt="Enlarged image">
        <button class="next-btn" aria-label="Next image"><i class="fa-solid fa-caret-right"></i></button>
        </div>
      </div>
    <% end %>

    <div class="text_informations2">
      <h2><%= @creation.nom %></h2>
      <p><%= @creation.description %></p>
      <h3>Compétences</h3>
      <p><%= @creation.poste_occupe %></p>

         <!-- Bouton retour -->
  <%= link_to "Retour aux réalisations", creations_path, class: "access-button2" %>
        <!-- Ajout des liens -->
  <% if @creation.nom == 'Gorillas' %>
    <a href="https://gorillas.io/" class="access-button">Accéder au site</a>
  <% elsif @creation.nom == 'Funenord' %>
    <a href="https://www.funerarts-express.com/" class="access-button">Accéder au site</a>
  <% elsif @creation.nom == 'Lions Club' %>
    <a href="https://www.lions-france.org/" class="access-button">Accéder au site</a>
  <% elsif @creation.nom == 'Netcom' %>
    <a href="https://youtu.be/IG8KbsK-558" class="access-button">Accéder à la vidéo</a>
  <% elsif @creation.nom == 'FotoBorne' %>
    <a href="https://www.fotoborne.fr/" class="access-button">Accéder au site</a>
  <% elsif @creation.nom == 'Plug & Play' %>
    <a href="https://www.plugandplay-event.com/" class="access-button">Accéder au site</a>
  <% elsif @creation.nom == 'City Break' %>
    <a href="https://citybreak.space/users/sign_in" class="access-button">Accéder à l'application</a>
    <% elsif @creation.nom == "L'île aux cycles" %>
    <a href="https://lileauxcycles.fr/" class="access-button">Accéder au site</a>
  <% end %>

 
</div>
</div>
    </div>
  </div>
</div>




<script>
document.addEventListener('turbo:load', () => {
  // Gestion de la lightbox classique
  const lightbox = document.querySelector('#lightbox');
  if (lightbox) {
    const lightboxImg = lightbox.querySelector('img');
    const closeBtn = lightbox.querySelector('.close-lightbox');
    const prevBtn = lightbox.querySelector('.prev-btn');
    const nextBtn = lightbox.querySelector('.next-btn');
    const zoomIcons = document.querySelectorAll('.zoom-icon');
    let currentIndex = 0;

    // Ouvrir la lightbox
    zoomIcons.forEach((icon) => {
      icon.addEventListener('click', (e) => {
        const index = parseInt(icon.dataset.index);
        const image = document.querySelectorAll('.clickable-image')[index];
        currentIndex = index;
        lightboxImg.src = image.dataset.src;
        lightbox.classList.add('active');
        e.stopPropagation();
      });
    });

    // Fermer la lightbox
    closeBtn.addEventListener('click', () => {
      lightbox.classList.remove('active');
    });

    lightbox.addEventListener('click', (e) => {
      if (e.target === lightbox) {
        lightbox.classList.remove('active');
      }
    });

    // Naviguer à l'image suivante
    nextBtn.addEventListener('click', () => {
      currentIndex = (currentIndex + 1) % zoomIcons.length;
      lightboxImg.src = document.querySelectorAll('.clickable-image')[currentIndex].dataset.src;
    });

    // Naviguer à l'image précédente
    prevBtn.addEventListener('click', () => {
      currentIndex = (currentIndex - 1 + zoomIcons.length) % zoomIcons.length;
      lightboxImg.src = document.querySelectorAll('.clickable-image')[currentIndex].dataset.src;
    });
  }

  // Gestion de la lightbox2 pour les formats 'portrait', 'portrait_foto', 'web', 'portrait3'
  const lightbox2 = document.querySelector('#lightbox2');
  if (lightbox2) {
    const lightbox2Img = lightbox2.querySelector('img');
    const closeBtn2 = lightbox2.querySelector('.close-lightbox2');
    const prevBtn2 = lightbox2.querySelector('.prev-btn');
    const nextBtn2 = lightbox2.querySelector('.next-btn');
    const zoomIcons2 = document.querySelectorAll('.zoom-icon');
    let currentIndex2 = 0;

    // Ouvrir la lightbox2
    zoomIcons2.forEach((icon) => {
      icon.addEventListener('click', (e) => {
        const index = parseInt(icon.dataset.index);
        const image = document.querySelectorAll('.clickable-image')[index];
        currentIndex2 = index;
        lightbox2Img.src = image.dataset.src;
        lightbox2.classList.add('active');
        e.stopPropagation();
      });
    });

    // Fermer la lightbox2
    closeBtn2.addEventListener('click', () => {
      lightbox2.classList.remove('active');
    });

    lightbox2.addEventListener('click', (e) => {
      if (e.target === lightbox2) {
        lightbox2.classList.remove('active');
      }
    });

    // Naviguer à l'image suivante dans lightbox2
    nextBtn2.addEventListener('click', () => {
      currentIndex2 = (currentIndex2 + 1) % zoomIcons2.length;
      lightbox2Img.src = document.querySelectorAll('.clickable-image')[currentIndex2].dataset.src;
    });

    // Naviguer à l'image précédente dans lightbox2
    prevBtn2.addEventListener('click', () => {
      currentIndex2 = (currentIndex2 - 1 + zoomIcons2.length) % zoomIcons2.length;
      lightbox2Img.src = document.querySelectorAll('.clickable-image')[currentIndex2].dataset.src;
    });
  }
});


</script>