<div class="container">
  <%= render 'shared/navbar' %>
  </div>

<% if @format == 'paysage' %>

  <div class="container_carrousel2">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <input type="radio" name="slider" id="item-4">
    <input type="radio" name="slider" id="item-5">
    <input type="radio" name="slider" id="item-6">
    <input type="radio" name="slider" id="item-7">
    <input type="radio" name="slider" id="item-8">
    <input type="radio" name="slider" id="item-9">

    <div class="cards2">
      <label class="card2" for="item-1" id="song-1">
        <%= image_tag @creation.image_paths.split(',')[0].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-2" id="song-2">
        <%= image_tag @creation.image_paths.split(',')[1].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-3" id="song-3">
        <%= image_tag @creation.image_paths.split(',')[2].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-4" id="song-4">
        <%= image_tag @creation.image_paths.split(',')[3].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-5" id="song-5">
        <%= image_tag @creation.image_paths.split(',')[4].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-6" id="song-6">
        <%= image_tag @creation.image_paths.split(',')[5].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-7" id="song-7">
        <%= image_tag @creation.image_paths.split(',')[6].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-8" id="song-8">
        <%= image_tag @creation.image_paths.split(',')[7].strip, alt: "song" %>
      </label>
      <label class="card2" for="item-9" id="song-9">
        <%= image_tag @creation.image_paths.split(',')[8].strip, alt: "song" %>
      </label>
    </div>
  </div>
    <div class="text_informations2">
      <h2><%= @creation.nom %></h2>
      <p><%= @creation.description %></p>
      <h3>Réalisation</h3>
      <p><%=@creation.poste_occupe%></p>
    </div>


 <div class="portrait">
<% elsif @format == 'portrait' %>
  <div class="container_carrousel3">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <input type="radio" name="slider" id="item-4">
    <div class="cards3">
   <label class="card" for="item-1" id="song-1">
        <%= image_tag @creation.image_paths.split(',')[0].strip, alt: "song" %>
      </label>
      <label class="card" for="item-2" id="song-2">
        <%= image_tag @creation.image_paths.split(',')[1].strip, alt: "song" %>
      </label>
      <label class="card" for="item-3" id="song-3">
        <%= image_tag @creation.image_paths.split(',')[2].strip, alt: "song" %>
      </label>
      <label class="card" for="item-4" id="song-4">
        <%= image_tag @creation.image_paths.split(',')[3].strip, alt: "song" %>
      </label>
  
  </div>
       
  </div>
   <div class="text_informations2">


<h2><%= @creation.nom %></h2>
<p><%= @creation.description %></p>
<h3>Réalisation</h3>
<p><%=@creation.poste_occupe%></p>

</div>

</div>


<% elsif @format == 'portrait_foto' %>
  <div class="container_carrousel4">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <input type="radio" name="slider" id="item-4">
    <input type="radio" name="slider" id="item-5">

    <div class="cards4">
   <label class="card4" for="item-1" id="song-1">
        <%= image_tag @creation.image_paths.split(',')[0].strip, alt: "song" %>
      </label>
      <label class="card4" for="item-2" id="song-2">
        <%= image_tag @creation.image_paths.split(',')[1].strip, alt: "song" %>
      </label>
      <label class="card4" for="item-3" id="song-3">
        <%= image_tag @creation.image_paths.split(',')[2].strip, alt: "song" %>
      </label>
      <label class="card4" for="item-4" id="song-4">
        <%= image_tag @creation.image_paths.split(',')[3].strip, alt: "song" %>
      </label>
      <label class="card4" for="item-5" id="song-5">
        <%= image_tag @creation.image_paths.split(',')[4].strip, alt: "song" %>
      </label>
  </div>
       
  </div>
  <div class="text_informations2">
      <h2><%= @creation.nom %></h2>
      <p><%= @creation.description %></p>
      <h3>Réalisation</h3>
      <p><%=@creation.poste_occupe%></p>
</div>








  <div class="web">
<% elsif @format == 'web' %>
 
  <div class="container_carrousel">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <input type="radio" name="slider" id="item-4">
    <div class="cards">
     
      <label class="card3" for="item-1" id="song-1">
        <%= image_tag @creation.image_paths.split(',')[0].strip, alt: "song" %>
      </label>
      <label class="card3" for="item-2" id="song-2">
        <%= image_tag @creation.image_paths.split(',')[1].strip, alt: "song" %>
      </label>
      <label class="card3" for="item-3" id="song-3">
        <%= image_tag @creation.image_paths.split(',')[2].strip, alt: "song" %>
      </label>
      <label class="card3" for="item-4" id="song-4">
        <%= image_tag @creation.image_paths.split(',')[3].strip, alt: "song" %>
      </label>
    </div>

  </div>
      <div class="text_informations">


<h2><%= @creation.nom %></h2>
<p><%= @creation.description %></p>
<h3>Réalisation</h3>
<p><%=@creation.poste_occupe%></p>

</div>
<% end %>


<% if @format == 'paysage_crea' %>

  <div class="container_carrousel5">
    <input type="radio" name="slider" id="item-1" checked>
    <input type="radio" name="slider" id="item-2">
    <input type="radio" name="slider" id="item-3">
    <input type="radio" name="slider" id="item-4">
    <input type="radio" name="slider" id="item-5">
    <input type="radio" name="slider" id="item-6">
    <input type="radio" name="slider" id="item-7">
    <input type="radio" name="slider" id="item-8">
    <input type="radio" name="slider" id="item-9">
    <input type="radio" name="slider" id="item-10">
    <input type="radio" name="slider" id="item-11">
    <input type="radio" name="slider" id="item-12">
    <input type="radio" name="slider" id="item-13">
    <input type="radio" name="slider" id="item-14">

    <div class="cards5">
      <label class="card5" for="item-1" id="song-1">
        <%= image_tag @creation.image_paths.split(',')[0].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-2" id="song-2">
        <%= image_tag @creation.image_paths.split(',')[1].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-3" id="song-3">
        <%= image_tag @creation.image_paths.split(',')[2].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-4" id="song-4">
        <%= image_tag @creation.image_paths.split(',')[3].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-5" id="song-5">
        <%= image_tag @creation.image_paths.split(',')[4].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-6" id="song-6">
        <%= image_tag @creation.image_paths.split(',')[5].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-7" id="song-7">
        <%= image_tag @creation.image_paths.split(',')[6].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-8" id="song-8">
        <%= image_tag @creation.image_paths.split(',')[7].strip, alt: "song" %>
      </label>
      <label class="card5" for="item-9" id="song-9">
        <%= image_tag @creation.image_paths.split(',')[8].strip, alt: "song" %>
      </label>
        <label class="card5" for="item-10" id="song-10">
        <%= image_tag @creation.image_paths.split(',')[9].strip, alt: "song" %>
      </label>
        <label class="card5" for="item-11" id="song-11">
        <%= image_tag @creation.image_paths.split(',')[10].strip, alt: "song" %>
      </label>
        <label class="card5" for="item-12" id="song-12">
        <%= image_tag @creation.image_paths.split(',')[11].strip, alt: "song" %>
      </label>
        <label class="card5" for="item-13" id="song-13">
        <%= image_tag @creation.image_paths.split(',')[12].strip, alt: "song" %>
      </label>
        <label class="card5" for="item-14" id="song-14">
        <%= image_tag @creation.image_paths.split(',')[13].strip, alt: "song" %>
      </label>
    </div>
  </div>
     <div class="text_informations2">


<h2><%= @creation.nom %></h2>
<p><%= @creation.description %></p>
<h3>Réalisation</h3>
<p><%=@creation.poste_occupe%></p>

</div>



<% end %>


</div>
