

<div class="container_nav">
  
  <div class="btn_navbar">
  
    <%= link_to "Portfolio.", root_path, class: "btn_nav2" %>

    <div class="a_propos">
      <%= link_to "Profil", a_propos_path, class: "btn_nav #{current_page?(a_propos_path) ? 'active' : ''}" %>
    </div>

    <div class="Réalisation">
      <%= link_to "Réalisations", creations_path, class: "btn_nav #{current_page?(creations_path) ? 'active' : ''}" %>
    </div>

   

    <div class="Experiences">
      <%= link_to "Experiences", experiences_path, class: "btn_nav #{current_page?(experiences_path) ? 'active' : ''}" %>
    </div>

     <div class="Formation">
      <%= link_to "Formation", formation_path, class: "btn_nav #{current_page?(formation_path) ? 'active' : ''}" %>
    </div>

    <div class="Contact">
      <%= link_to "Contact", contact_path, class: "btn_nav #{current_page?(contact_path) ? 'active' : ''}" %>
    </div>
  </div>
  <img src="<%= asset_path('BURGER.png') %>" alt="Burger Image", class="menu">
</div>

  
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function() {
  $(window).scroll(function() {
    if ($(this).scrollTop() > 80) { // Vous pouvez ajuster la position de défilement pour déclencher le changement de couleur de fond
      $(".container_nav").addClass("expanded"); // Ajout de la classe "expanded" pour augmenter la taille
    } else {
      $(".container_nav").removeClass("expanded"); // Suppression de la classe "expanded" pour rétablir la taille initiale
    }
  });
});
</script>

<script>
        const menuHamburger = document.querySelector(".menu")
        const navLinks = document.querySelector(".btn_navbar")
 
        menuHamburger.addEventListener('click',()=>{
        navLinks.classList.toggle('mobile-menu')
        })
</script>



