<div class="container_nav">
  <div class="btn_navbar">
    <%= link_to "Portfolio.", root_path, class: "btn_nav2" %>

    <div class="a_propos">
      <%= link_to "Profil", a_propos_path, class: "btn_nav #{current_page?(a_propos_path) ? 'active' : ''}" %>
    </div>

    <div class="Réalisation">
      <%= link_to "Réalisations", creations_path, class: "btn_nav #{current_page?(creations_path) ? 'active' : ''}" %>
    </div>

    <div class="Experiences">
      <%= link_to "Experiences", experiences_path, class: "btn_nav #{current_page?(experiences_path) ? 'active' : ''}" %>
    </div>

    <div class="Formation">
      <%= link_to "Formation", formation_path, class: "btn_nav #{current_page?(formation_path) ? 'active' : ''}" %>
    </div>

    <div class="Contact">
      <%= link_to "Contact", contact_path, class: "btn_nav #{current_page?(contact_path) ? 'active' : ''}" %>
    </div>
  </div>

  <img src="<%= asset_path('BURGER.png') %>" alt="Burger Image" class="menu">

  <% if controller_name == "creations" && action_name == "show" %>
    <%= link_to "Retour", creations_path, class: "back-link" %>
  <% end %>
</div>



<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script>
  

  jQuery(document).ready(function() {
    const menuHamburger = $(".menu");
    const navLinks = $(".btn_navbar");
    menuHamburger.on("click", function() {
      navLinks.toggleClass("mobile-menu");
    });

    navLinks.find("a").on("click", function() {
      navLinks.removeClass("mobile-menu");
    });

  
    $(window).scroll(function() {
      if ($(this).scrollTop() > 80) {
        $(".container_nav").addClass("expanded");
      } else {
        $(".container_nav").removeClass("expanded");
      }
    });
  });
</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const menuHamburger = document.querySelector(".menu");
    const backButton = document.querySelector(".back-link");

    menuHamburger.addEventListener('click', function() {
      backButton.classList.toggle('hidden');
    });

    backButton.addEventListener('click', function() {
      backButton.classList.add('hidden');
    });
  });
</script>
