<div class="container">
  <%= render 'shared/navbar' %>

<%= form_with(model: @message, url: envoyer_message_path, method: :post) do |form| %>
  <div>
    <%= image_tag('https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/mail-letter-offer-256.png', alt: 'icon') %>
  </div>
  <%= form.text_field :nom, placeholder: 'Nom (requis)', required: true %>
  <%= form.email_field :email, placeholder: 'Adresse email (requis)', required: true %>
  <%= form.text_field :sujet, placeholder: 'Sujet (requis)', required: true %>
  <%= form.text_area :message, placeholder: 'Message (requis)', required: true %>
  <%= form.submit 'Envoyer' %>
<% end %>


</div>
