<div class="container">
  <%= render 'shared/navbar' %>

<% if flash[:notice].present? %>
  <div class="notice">
    <%= flash[:notice] %>
  </div>
<% end %>

<%= form_with(model: @contact, url: contacts_path, method: :post, local: true) do |form| %>
  <div>
    <%= image_tag('https://cdn4.iconfinder.com/data/icons/basic-user-interface-elements/700/mail-letter-offer-256.png', alt: 'icon') %>
  </div>
  <%= form.fields_for :contact do |contact_form| %>
    <%= contact_form.text_field :lastname, placeholder: 'Nom (requis)', required: true %>
    <%= contact_form.text_field :firstname, placeholder: 'Prénom (requis)', required: true %>
    <%= contact_form.email_field :email, placeholder: 'Adresse email (requis)', required: true %>
    <%= contact_form.text_area :message, placeholder: 'Message (requis)', required: true %>
    <%= contact_form.hidden_field :active, value: true %> <!-- Ajoutez un champ caché pour le paramètre :active -->
  <% end %>
  <%= form.submit 'Envoyer' %>
<% end %>


</div>




 
<%# 
<div class="overlay"></div>
<div class="stars" aria-hidden="true"></div>
<div class="starts2" aria-hidden="true"></div>
<div class="stars3" aria-hidden="true"></div>
<main class="main">
	<section class="contact">
		<h1 class="title">Page "Contact"</h1>
		<h2 class="sub-title">Actuellement en construction</h2>
	</section>
</main>

</div> %>
