<div class="container">
    <%= render 'shared/navbar' %>

    <div class="container2">
        <div class="content_train">
            <div class="top-section"></div>

            <div class="timeline">
                <div class="line"></div>

<!-- Formation 1 -->
                <div class="section">
                    <div class="bead"></div>
                    <div class="content2">
                        <div class="text_content">
                            <a href="https://www.funerarts-express.com/">
                                <%= image_tag 'souveneo.jpg', class: "logo_form" %>
                            </a>

                            <div>
                                <h3>FUNENORD Diffusion</h3>
                                <h6>mai 24 - juillet 24</h6>
                            </div>
                        </div>

                        <p><span style="color: #00b3ff; font-size: 15px;">PILOTE INFOGRAPHIE & ATELIER</span></p>
                        <ul>
                            <li>Conception de plaques funéraires pour les particuliers et pompes funèbres</li>
                            <li>Création de visuels chromo pour porcelaine</li>
                            <li>Pose de vinyles</li>
                            <li>Découple plexiglas au laser</li>
                            <li>Montage des plaques sur socles en marbre</li>
                            <li>Réalisation catalogues produits</li>
                            <li>Retouches photo, création de plans vectoriels</li>
                            <li>Pilotage d'une équipe de 6 personnes </li>
                        </ul>
                        <p>Adobe Photoshop, Illustrator, Indesign, Caldera, impression latex et chromo</p>

                        <span class="arrow"></span>
                    </div>
                </div>


                <!-- Formation 1 -->
                <div class="section">
                    <div class="bead"></div>
                    <div class="content2">
                        <div class="text_content">
                            <a href="https://gorillas.io/en">
                                <%= image_tag 'gorillas.jpg', class: "logo_form" %>
                            </a>

                            <div>
                                <h3>Gorillas Technologies</h3>
                                <h6>2021 - 2023</h6>
                            </div>
                        </div>

                        <p><span style="color: #00b3ff; font-size: 15px;">INFOGRAPHISTE (print et web)</span></p>
                        <ul>
                            <li>Conception de visuels pour la newsletter nationale</li>
                            <li>Création de T-shirt promotionnel</li>
                            <li>Réalisation de la signalétique de sécurité</li>
                        </ul>
                        <p>Adobe Photoshop, Illustrator, Indesign, Mailchimp, Canva</p>

                        <p><span style="color: #00b3ff; font-size: 15px;">SUPERVISEUR D'ENTREPÔT</span></p>
                        <ul>
                            <li>Diriger les différentes équipes</li>
                            <li>Responsable HACCP</li>
                            <li>Responsable sécurité</li>
                        </ul>
                        <p>Eddress, Quinyx, Notion, Slack</p>

                         <span class="arrow2"></span>
                    </div>
                </div>

                <!-- Formation 2 -->
                <div class="section">
                    <div class="bead"></div>
                    <div class="content2">
                        <div class="text_content">
                            <a href="https://www.fotoborne.fr/">
                                <%= image_tag 'fotoborne.jpg', class: "logo_form" %>
                            </a>

                            <div>
                                <h3>FotoBorne Animation</h3>
                                <h6>2015 - 2020</h6>
                            </div>
                        </div>

                        <p><span style="color: #00b3ff; font-size: 15px;">INFOGRAPHISTE (print et web)</span></p>
                        <ul>
                            <li>Conception de plaquettes commerciales</li>
                            <li>Rédaction newsletter</li>
                            <li>Création des coverings des bornes (stickers)</li>
                            <li>Personnalisation gabarits photos</li>
                            <li>Intégration HTML & CSS</li>
                            <li>Développement de contenu sur les réseaux sociaux</li>
                        </ul>
                        <p>Adobe Photoshop, Illustrator, Indesign, Mailchimp, Canva</p>

                        <p><span style="color: #00b3ff; font-size: 15px;">TECHNICO-COMMERCIAL</span></p>
                        <ul>
                            <li>Gestion de la relation client</li>
                            <li>Coordination logistique</li>
                            <li>Maintenance des bornes photo</li>
                            <li>Analyse des retombées</li>
                        </ul>
                        <p>Dolibaar CRM, Ubuntu</p>

                       
                        <span class="arrow"></span>
                    </div>
                </div>

                <!-- Formation 3 -->
                <div class="section">
                    <div class="bead"></div>
                    <div class="content2">
                        <div class="text_content">
                            <a href="https://www.alexandrevalla.com/">
                                <%= image_tag 'alexcrea.jpg', class: "logo_form" %>
                            </a>

                            <div>
                                <h3>Auto-entrepreneur</h3>
                                <h6>2015 - 2023</h6>
                            </div>
                        </div>

                        <p><span style="color: #00b3ff; font-size: 15px;">INFOGRAPHISTE (print et web)</span></p>
                        <ul>
                            <li>Conception de catalogues produits</li>
                            <li>Création de flyers</li>
                            <li>Élaboration de plaquettes commerciales</li>
                            <li>Réalisation d'affiches pour mobilier urbain</li>
                            <li>Création de faire-parts de mariages</li>
                            <li>Production de maquettes de disques</li>
                            <li>Mise en page de documents (mémoire, rapport)</li>
                        </ul>
                        <p>Contraintes conception graphique (média et impression traditionnelle)</p>

                         <span class="arrow2"></span>
                    </div>
                </div>

                <div class="bead top-bead"></div>
                <div class="bead bottom-bead"></div>
            </div>
        </div>
    </div>
</div>
