<div class="container">
    <%= render 'shared/navbar' %>


<div class="container2">
    <div class="content_train">
        <div class="top-section"></div>

        <div class="timeline">
            <div class="line"></div>

            <!-- Formation 1 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'wagon.png', class: "logo_form" %>
                        <div>
                            <h3>Le Wagon Lille</h3>
                            <h6>04/2023 - 06/2023</h6>
                        </div>
                    </div>
                    <p>
                    J'ai suivi une formation intensive de <span style="color: #00b3ff; font-size: 18px;">développement web full-stack</span>
                    au cours de laquelle j'ai acquis des compétences dans plusieurs <span style="color: #00b3ff; font-size: 18px;">langages</span> et
                    <span style="color: #00b3ff; font-size: 18px;">outils</span>. J'ai appris à utiliser <span style="color: #00b3ff; font-size: 18px;">Ruby, 
                     HTML, CSS, JavaScript, Ajax, Active Record, et SQL</span>.
                    En plus de la programmation, j'ai également maîtrisé l'utilisation de <span style="color: #00b3ff; font-size: 18px;">Figma</span> 
                    pour créer des <span style="color: #00b3ff; font-size: 18px;">
                    prototypes d'applications web</span>. Cette formation m'a permis de développer une solide base de compétences en 
                    <span style="color: #00b3ff; font-size: 18px;"></span>développement web</span>, et 
                    j'ai obtenu la certification de concepteur et développeur d'applications web.
                    </p>

                    <span class="arrow"></span>
                </div>
            </div>

            <!-- Formation 2 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'marcorel.png', class: "logo_form" %>
                        <div>
                            <h3>Marcorel Paris</h3>
                            <h6>06/2020 - 08/2020</h6>
                        </div>
                    </div>
                    <p>
                    En tant que professionnel de la communication visuelle, mon parcours a été façonné par une formation 
                    dédiée à la <span style="color: #00b3ff; font-size: 18px;">création visuelle</span> et à la gestion de la
                    <span style="color: #00b3ff; font-size: 18px;">communication</span>. J'ai développé mes 
                    <span style="color: #00b3ff; font-size: 18px;">compétences</span> 
                    sur des logiciels de la suite <span style="color: #00b3ff; font-size: 18px;">Adobe</span>, tels que 
                    <span style="color: #00b3ff; font-size: 18px;">Photoshop</span>, <span style="color: #00b3ff; font-size: 18px;">Illustrator</span> et
                     <span style="color: #00b3ff; font-size: 20px;">InDesign</span> et j'ai obtenu
                    la certification de concepteur et réalisateur en communication. Cette formation m'a ouvert des 
                    portes passionnantes dans le monde de la <span style="color: #00b3ff; font-size: 18px;">conception graphique</span> 
                    et de la <span style="color: #00b3ff; font-size: 18px;">communication visuelle</span>.
                    </p>
                    <span class="arrow2"></span>
                </div>
            </div>

            <!-- Formation 3 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'esg.png', class: "logo_form" %>
                        <div>
                            <h3>ESG Paris</h3>
                            <h6>2013 - 06/2014</h6>
                        </div>
                    </div>
                    <p>
                        J'ai obtenu un MBA en marketing et management du sport, acquérant des compétences essentielles en 
                        <span style="color: #00b3ff; font-size: 18px;">événementiel sportif</span>, <span style="color: #00b3ff; font-size: 18px;">
                        communication</span>, et <span style="color: #00b3ff; font-size: 18px;">PAO</span>. Mon programme d'études m'a permis de 
                        <span style="color: #00b3ff; font-size: 18px;">planifier et promouvoir</span> des événements sportifs, <span style="color: #00b3ff; font-size: 18px;">d'élaborer des campagnes de
                         communication stratégiques</span>, et de maîtriser la création de <span style="color: #00b3ff; font-size: 18px;">supports visuels</span> 
                         professionnels. Ces compétences me positionnent pour réussir dans l'industrie du sport
                         et de la <span style="color: #00b3ff; font-size: 18px;">gestion d'événements</span>.
                    </p>
                    <span class="arrow"></span>
                </div>
            </div>

            <!-- Formation 4 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'sup.jpg', class: "logo_form" %>
                        <div>
                            <h3>Sup de Pub Paris</h3>
                            <h6>2008 - 06/2012</h6>
                        </div>
                    </div>
                    <p>
                        Mon parcours académique est constitué d'un BTS en communication des entreprises suivi d'un master en responsabilité de la communication et publicité. Au fil de ces formations, j'ai développé des compétences en communication d'entreprise, stratégie de communication, organisation d'événements, et création d'infographies en PAO. Ces diplômes m'ont permis de devenir un professionnel polyvalent de la communication, capable de gérer des campagnes, d'organiser des événements et de créer des supports visuels percutants.
                    </p>
                    <span class="arrow2"></span>
                </div>
            </div>

            <div class="bead top-bead"></div>
            <div class="bead bottom-bead"></div>
        </div>
    </div>
</div>
</div>