<div class="container">
    <%= render 'shared/navbar' %>


<div class="container2">
    <div class="content_train">
        <div class="top-section"></div>

        <div class="timeline">
            <div class="line"></div>

            <!-- Formation 1 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'wagon.png', class: "logo_form" %>
                        <div>
                            <h3>Le Wagon Lille</h3>
                            <h6>2023 (Avril à juin)</h6>
                        </div>
                    </div>
                    <p><span style="color: #00b3ff; font-size: 15px;">CERTIFICATION DEVELOPPEUR WEB FULL-STACK</span></p>
    <ul>
        <li>Création de prototype Web</li>
        <li>Développement d'application Web</li>
    </ul>
    <p><span style="color: #00b3ff; font-size: 15px;"></span></p>
    <p>Ruby, HTML, CSS, Javascript, Ajax, Active Record, Figma, Ruby on Rails</p>

                    <span class="arrow"></span>
                </div>
            </div>

            <!-- Formation 2 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'marcorel.png', class: "logo_form" %>
                        <div>
                            <h3>Marcorel Paris</h3>
                            <h6>2020 (Juin à août)</h6>
                        </div>
                    </div>
               <p><span style="color: #00b3ff; font-size: 15px;">CERTIFICATION CONCEPTEUR ET REALISATEUR PAO</span></p>
    <ul>
        <li>Création visuelle</li>
        <li>Gestion de la communication</li>
        <li>Montage photo</li>
        <li>Création d'illustrations</li>
        <li>Création, production et mise en page de catalogues</li>
    </ul>
    <p></p>
    <p>Adobe Photoshop, Adobe Illustrator, Adobe Indesign</p>
                    <span class="arrow2"></span>
                </div>
            </div>

            <!-- Formation 3 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'esg.png', class: "logo_form" %>
                        <div>
                            <h3>ESG Paris</h3>
                            <h6>2013 - 2014</h6>
                        </div>
                    </div>
             <p><span style="color: #00b3ff; font-size: 15px;">MBA MARKETING ET MANAGEMENT DU SPORT</span></p>
    <ul>
        <li>PAO</li>
        <li>Evénementiel sportif</li>
        <li>Communication</li>
        <li>Promotion événementielle</li>
        <li>Communication stratégique</li>
    </ul>
    
    <p>Adobe Photoshop, Adobe Illustrator, Adobe Indesign</p>
                    <span class="arrow"></span>
                </div>
            </div>

            <!-- Formation 4 -->
            <div class="section">
                <div class="bead"></div>
                <div class="content2">
                    <div class="text_content">
                        <%= image_tag 'sup.jpg', class: "logo_form" %>
                        <div>
                            <h3>Sup de Pub Paris</h3>
                            <h6>2008 - 2012</h6>
                        </div>
                    </div>
                   <div style="display: flex; flex-direction: column;">
        <p><span style="color: #00b3ff; font-size: 15px;">BTS COMMUNICATION DES ENTREPRISES</span><br>
           <span style="color: #00b3ff; font-size: 15px;">MASTER RESPONSABLE DE LA COMMUNICATION ET PUBLICITE</span>
        </p>
        <ul>
            <li>PAO</li>
            <li>Infographie</li>
            <li>Imprimerie</li>
            <li>Webdesign</li>
            <li>Communication d'entreprise</li>
            <li>Stratégie de communication</li>
        </ul>
    
        <p>Adobe Photoshop, Adobe Illustrator, Adobe Indesign, Adobe Acrobat, HTML, CSS</p>
    </div>
                </div>
            </div>

            <div class="bead top-bead"></div>
            <div class="bead bottom-bead"></div>
        </div>
    </div>
</div>
</div>